

header {
    color: red;
    font-size: 50px;
    text-align: center;
    

}

div {
    text-align: center;
    justify-content: center;
    font-size: 30
}

header div {
    text-align: center;
    
}

img {
    display: block;
    margin: 0 auto;
    width: 100%
    
}


p {
    font-size: 30px;
}

.quantity {
    display: flex;
    gap: 4px;
    font-size: 20px;
}

.increment {
    padding: 1px 6px;
    cursor: pointer;
}

.addToCart {
    font-size: 30px;
    margin-bottom: 20%;
}

.img {
    display: flex ;
    border-radius: 50%;
}